ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style: none;
  list-style-type: none;
  padding: 0;
  -webkit-padding-start: 0;
}

li {
  list-style-type: none;
  font-size: 80%;
}

img[src*="#faculty"] {
   width:128px;
   height:128px;
   /* border: 1px solid black; */
   border-radius: 50%;
   display: inline-block;
}

li a:link {
  text-decoration: none;
  color: black;
}

li a:visited {
  text-decoration: none;
  color: black;
}

li a:hover {
  text-decoration: none;
  color: grey;
}

li a:active {
  text-decoration: none;
  color: grey;
}

li strong {
    font-weight: 400;
}

li em {
    font-style: normal;
    /* font-size: 80%; */
    font-weight: 200;
}

.photo {
    background-size: cover;
    display: block;
    width: 128px;
    height: 128px;
    clear: both;
    margin-bottom: 5px;
    border-radius: 50%;
}

.faculty {
    /* font-size: 80%; */
    line-height: 0.96;
}

.position {
    font-size: 69%;
    line-height: 0.96;
}

#photos div li {
    list-style: none;
    /* margin: 25px; */
    width: 155px;
    padding: 0px;
    padding-bottom: 10px;
    padding-bottom: 15px;
    text-align: center;
    text-align: -webkit-center;
    line-height: 0.75;
}
